.cart {
  background: white;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 10px rgba(black, 0.1);

  ul {
    padding: 0;
    list-style: none;
    li {
      padding: 0;
      border-bottom: 1px solid #eee;

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}
