.comments {
  ul {
    margin: 0;
    margin-top: 25px;
    padding: 0;
    list-style: none;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 20px;
      left: -$grid-gutter;
      bottom: 20px;
      width: 3px;
      background: #C0CBDE;
    }

    li {
      padding: $grid-gutter;
      background: lighten(#C0CBDE, 13%);
      position: relative;
      margin-bottom: 30px;

      .username {
        font-size: 0.9em;
        color: #888;
        top: -1.5em;
        position: absolute;
      }
    }
  }

  .avatar {
    width: 30px;
    background: #eee;
    border-radius: 50%;

    font-size: 3em;
    color: #C7917A;
  }
}
