footer {
  padding: $grid-gutter 0;
  background: #eee;
  font-size: 0.9em;

  .copyright-info {
    color: #888;
  }
}

@media (min-width: $md-screen) {
  .footer-nav {
    align-items: flex-end !important;
  }
}

@media (max-width: $xs-screen) {
  .footer-nav {
    display: none;
  }
}
