.lesson-card {
  display: block;
  text-decoration: none;
  color: inherit;
  border-radius: 3px;
  overflow: hidden;
  min-width: 300px;
  position: relative;
  background: white;
  @include button-shadow(#ddd);
  transition: box-shadow .2s ease;

  &:hover {
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  }

  .grid > * {
    padding: 0;
  }

  figure {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-content {
    padding: $grid-gutter;

    p {
      font-size: 0.9em;
      margin-bottom: 0;
    }

    .btn {
      margin-top: $grid-gutter;
      font-size: 0.9em;
      width: 100%;
    }
  }

  &.disabled:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(white, 0.5);
  }
}
