.logo {
  width: 55px;
  height: 65px;
  overflow: hidden;
  display: inline-block;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  &.hover {
    background-image: url(../assets/logo_holo.png);
    transition: background-image .2s ease;

    &:hover {
      background-image: url(../assets/logo.png);
    }
  }

  &.outline {
    background-image: url(../assets/logo_holo.png);
  }

  &.color {
    background-image: url(../assets/logo.png);
  }
}
