nav {
  padding: 0;
}

nav:not(.fixed) {
  .container {
    padding: 0;
    margin-left: -$grid-gutter + 3;
  }
}

.nav {
  display: flex;
}

.nav-collapsed {
  display: none;
}

.nav-icon-btn {
  margin: 0 auto;
  padding: $grid-gutter;
  color: #666;
  font-weight: bold;
  font-size: 1.8em;
  position: relative;

  .cart {
    top: 85px;
    right: 0;
    min-width: 300px;
    width: 100%;
    font-size: 0.6em;
    color: #333;
    position: absolute;
    font-weight: normal;

    figure {
      margin-right: 5px;
    }

    .quantity-counter {
      margin-top: -0.8em;
    }

    .list-link {
      display: none;
    }
  }

  &.cart-icon {
    color: #aaa;
    text-align: center;

    .has-items {
      color: #666;
    }

    .cart-badge {
      font-size: 0.4em;
      font-weight: normal;
      padding: 2px 5px;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 3px;
      color: white;
      background: $color-primary-bright;
      top: 2px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba($color-primary-bright, 0.8);
    }

    a {
      color: inherit;
      border: none !important;
      display: block;
      width: 100%;
      transition: all .3s ease;
      position: relative;

      &:hover {
        color: $color-primary;
        text-shadow: 0 2px 10px rgba($color-primary-bright, 0.5);
      }
    }
  }
}

nav.fixed {
  background: white;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba($color-primary, 0.1);

  .container {
    max-width: 960px + $grid-gutter;
  }
}

nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  font-size: 0.9em;

  li {
    display: inline-block;
  }

  li:not(.nav-logo):not(.phone) a {
    color: inherit;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    padding: 3px 0;
    transition: border-bottom-color .2s ease;
    border-bottom: 2px solid transparent;

    &:hover, &.active {
      border-bottom-color: $color-primary;
    }
  }

  .nav-logo {
    a {
      margin: 0 auto;
      display: block;
    }
  }

  .phone {
    a {
      color: $color-primary;
      padding: $grid-gutter;
      text-decoration: none;
      border-radius: 3px;
      transition: all .2s ease;
      position: relative;
      border-bottom: 0;

      &:after {
        content: "";
        position: absolute;
        top: $grid-gutter;
        left: $grid-gutter;
        bottom: $grid-gutter - 3px;
        right: $grid-gutter;
        border-bottom: 1px solid $color-primary;
      }

      &:hover {
        color: white;
        background: $color-primary;
        @include button-shadow($color-primary);
      }
    }
  }
}

@media (max-width: $sm-screen) {
  nav.fixed {
    .nav {
      display: none;
      background: white;
      position: absolute;
      left: 0;
      right: 0;
      flex-direction: column;
      margin-top: 88px;
      z-index: 998;
      box-shadow: inset 0 2px 10px rgba($color-primary, 0.2);

      &.show {
        display: flex;
      }

      .nav-logo {
        display: none;
      }
    }

    .nav-icon-btn .cart {
      top: 73px !important;
    }

    .nav-collapsed {
      display: flex;
      z-index: 999;

      li {
        padding: 10px 0;
      }
    }
  }
}
