form.payment {
  background: white;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 5px 12px rgba(black, 0.06);

  input, textarea {
    padding: 8px;
    width: 100%;
    font-weight: normal;
  }

  span {
    display: block;
    margin-bottom: 5px;
  }

  label {
    width: 100%;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
  }

  select {
    background: inherit;
    border-radius: 3px;
    -webkit-appearance: none;
    padding: 8px;
    font-weight: normal;
    width: 100%;
    outline: none;

    &:focus {
      border: 1px solid $color-primary;
      box-shadow: 0 0 6px rgba($color-primary, 0.6);
    }
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;

    legend {
      text-transform: uppercase;
      margin-top: -10px;
      font-weight: bold;
      padding: $grid-gutter;
      color: #666;
    }
  }

  .radio-group {
    input[type="radio"] {
      width: auto;
    }

    span {
      display: inline;
      margin-left: 5px;
    }
  }
}

@media (min-width: $sm-screen) {
  form.payment {
    fieldset {
      & > .grid {
        &:last-of-type {
          margin-bottom: 12px;
        }
      }

      .grid > * {
        padding-right: 0;
        padding-bottom: 4px;
        &:last-of-type {
          padding-right: $grid-gutter;
        }
      }
    }
  }
}
