.update-stream {
  .update {
    border-radius: 3px;
    overflow: hidden;
    background: white;
    margin-bottom: $grid-gutter;
    box-shadow: 0 2px 15px rgba(black, 0.06);
    padding: $grid-gutter;
  }

  .update-media {
    width: 35px;
    height: 50px;
    background: url(../assets/logo.png) no-repeat;
    background-size: contain;
  }

  h4, p {
    margin: 0;
  }
}
