.user-card {
  width: 100%;
  box-sizing: border-box;
  padding: $grid-gutter;
  border-radius: 3px;
  background: white;
  overflow: hidden;
  box-shadow: 0 3px 15px rgba(0,0,0,0.1);
  transition: all .2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  }

  .avatar {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);

    background-repeat: no-repeat;
    background-size: cover;
  }

  .profile {
    margin-top: $grid-gutter;
    font-weight: 700;

    .singing-style {
      font-size: 0.9em;
      color: #999;
    }
  }

  .quote {
    margin-top: 2em;
    color: lighten(#333, 15%);
    font-size: 1.3em;
    font-weight: 500;
    position: relative;

    &:before {
      z-index: 0;
      font-family: Georgia;
      font-weight: 800;
      content: '“';
      color: rgba(#333, 0.06);
      top: -0.3em;
      left: -0.2em;
      position: absolute;
      font-size: 20em;
    }
  }
}
