.about-page {
  padding-bottom: 0;

  .call-to-action {
    margin-top: 50px;
    background: lighten($color-primary, 20%);
    padding: 80px 0;
    color: darken($color-primary, 10%);
  }

  article {
    padding: 0 $grid-gutter;
  }
}
