.contact-page {
  .container > .row > .col:first-child {
    border-right: 1px solid #ccc;
  }

  strong {
    display: block;
    margin-bottom: 10px;
  }

  .address {
    margin-bottom: 20px;
    line-height: 1.3;
  }

  a {
    display: inline-block;
    padding: 2px 0;
    text-decoration: none;
    border-bottom: 1px solid #699C96;
    color: #699C96;

    &:last-of-type {
      margin-bottom: $grid-gutter;
    }
  }

  form .grid > * {
    padding-left: 0;
    &:last-of-type {
      padding-right: 0;
    }
  }

  article {
    margin-bottom: 10px;
  }

  label span {
    font-size: 0.9em;
    color: #888;
  }

  input, textarea {
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    max-width: 100%;
    border: 1px solid #888;
    padding: 12px;

    &:focus {
      border: 1px solid #65B4AA;
      box-shadow: 0 0 6px rgba(#65B4AA, 60%);
    }
  }
}
