.lessons-page {
  h4 {
    margin: 0;
  }
}

.lesson-detail {
  h2 {
    margin-bottom: 2 * $grid-gutter;
  }

  img {
    box-shadow: 0 5px 20px 5px rgba(0,0,0,0.1);
  }

  ul {
    margin: 0;
  }

  .small {
    line-height: 3;
    font-style: italic;
  }

  strong {
    display: block;
    margin-bottom: $grid-gutter;
  }

  .quantity-counter {
    margin: 10px 0;
  }

  p {
    margin-bottom: 25px;
    margin-top: -10px;
    // color: #555;
    font-weight: 400;
    line-height: 1.3;
  }

  .comments {
    margin: 60px 0;
  }
}
