$font-path: '~ionicons/dist/fonts';
$ionicons-font-path: $font-path;
@import '~ionicons/dist/scss/ionicons';

@import '~reflex-grid/scss/reflex';

@import '~hint.css/hint.css';

@import 'variables';
@import 'mixins';
@import 'utils';
@import 'grid/grid';
@import 'components/components';
@import 'pages/pages';

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 16px;
  background: #eee;
}

#app, main {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 960px;
  padding: 0 $grid-gutter;
  margin: 0 auto;
}

section {
  background: lighten(#D7C7B7, 20%);
  margin-top: 88px;
  box-sizing: initial;
  padding: 20px 0;

  .container:first-of-type {
    padding-left: 0;
  }
}

figure {
  margin: 0;
}

.section-header {
  padding: 0 $grid-gutter;
}

.media-container {
  position: relative;
  padding-bottom: 69%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media print {
  nav {
    display: none;
  }

  section {
    margin-top: 0;
  }

  * {
    box-shadow: none !important;
  }
}
