@mixin button-shadow($color, $alpha:0.6) {
  box-shadow: 0 5px 10px rgba($color, $alpha);
}

@mixin ease($property:"all", $duration:.2s) {
  transition: unquote($property) $duration ease;
}

@mixin button($bg, $color) {
  $hover-bg: saturate($bg, 20%);
  $depressed-bg: saturate($bg, 20%);

  background: $bg;
  color: $color;
  border: 1px solid $bg;

  @include button-shadow($bg);
  @include ease;

  &:hover {
    background: $hover-bg;
    border-color: $hover-bg;
    @include button-shadow($hover-bg);
  }

  &:active {
    background: $depressed-bg;
    border-color: $depressed-bg;
    box-shadow: 0 2px 8px rgba($bg, 0.8);
  }
}

@mixin bounce($property, $originValue, $offset) {
  @keyframes bounce {
    0%       { #{$property}: translateY($originValue); }
    // 25%, 75% { #{$property}: translateY($originValue - ($offset/2)); }
    50%      { #{$property}: translateY($originValue - $offset); }
    100%     { #{$property}: translateY($originValue); }
  }
}
