.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.text-primary {
  color: $color-primary;
}

.small {
  font-size: 0.9em;
  color: #999;
}

.btn {
  background: transparent;
  display: inline-block;
  box-sizing: border-box;
  color: inherit;
  padding: $grid-gutter ($grid-gutter + 10px);
  border-radius: 6px;
  border: 1px solid #333;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: all .2s ease;

  &:hover {
    background: rgba(black, 0.06);
  }

  &.full-width {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &.btn-lg {
    font-size: 1.2em;
    padding: ($grid-gutter + 10px) ($grid-gutter + 20px);
  }

  &.btn-sm {
    font-size: 0.8em;
    padding: 10px !important;
  }

  &.btn-square {
    border-radius: 0;
  }

  &.btn-primary {
    @include button($color-primary-bright, white);
    color: white !important;
    text-shadow: none !important;
  }

  &.btn-outline {
    &.btn-primary {
      background: transparent;
      border-width: 2px;
      border-color: $color-primary-bright;
      color: $color-primary-bright;
      box-shadow: none;
    }
  }
}

.btn-close {
  font-size: 1.5em;
  font-weight: bold;
  color: inherit;
}

input, textarea {
  border-radius: 3px;
  border: 1px solid #bbb;
  color: lighten(#333, 10%);
  padding: 5px 10px;
  outline: none;
  transition: box-shadow .2s ease;

  &:focus {
    border: 1px solid $color-primary;
    box-shadow: 0 0 6px rgba($color-primary, 60%);
  }
}

.fade-enter, .fade-leave {
  position: absolute;
  left: 0;
  right: 0;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in-out;
}

.fade-enter.fade-enter-active {
  transition-delay: 0.5s;
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.fade-leave.fade-leave-active {
  opacity: 0;
}

.hint--bottom-left {
  &:after {
    text-align: center;
  }
}

.grid--no-collapse {
  flex: 0 0 auto;
}

.hidden {
  display: none;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

// for cart number badge
.bounce {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
}

@include bounce("transform", 0, 5px);
