.row.flex {
  display: flex;
  position: relative;

  .col {
    flex: 0 0 auto;
    max-width: 90%;

    &.col-1 {
      flex: 1;
    }

    &.col-2 {
      flex: 2;
    }

    &.col-3 {
      flex: 3;
    }

    &.col-4 {
      flex: 4;
    }

    &.col-7 {
      flex: 7;
    }

    &.col-8 {
      flex: 8;
    }

    &.col-9 {
      flex: 9;
    }

    &.col-10 {
      flex: 10;
    }
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.distributed {
    justify-content: space-between;
  }

  &.right {
    justify-content: flex-end;
    align-items: center;
  }

  &.vertical {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}
